
<!-- <a [routerLink]='[""]'>Inicio</a>
<a [routerLink]='["login"]'>Login</a>
<a [routerLink]='["registro"]'>registro</a> -->

<router-outlet></router-outlet>

<!--app-home></!--app-home-->

<!--app-configuracion-alergias></!--app-configuracion-alergias-->