.divVolver{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}
.volver{
  font-family: 'Montserrat';
  font-size: .9em;
  color: rgb(38, 199, 220);
  text-decoration: none;
  margin: 1em 0;
}
.volver:hover {
  cursor: pointer;
}

.back-arrow {
  font-weight: lighter;
  vertical-align: middle;
  color: rgb(38, 199, 220);
}

.back-text {
  display: inline-block;
  vertical-align: middle;
}

.iconHome{
  width: 1.3em;
  height: 1.3em;
}
.paginacion{
  font-family: 'Montserrat';
  font-size: .8em;
  margin-right: 1.5em;
  font-weight: 700;
}
h1{
  font-family: 'Montserrat';
  text-align: center;
  margin-bottom: 1em;
}
.divSubeFoto{
  background-color: #fff;
  width: 7em;
  height: 7em;
  margin: 0 auto;
  border-color: #26c7dc;
  border-radius: 50%;
}
.imagenForm {
  height: 7em;
  width: 7em;
  background-color: #fff;
  border: 2px solid #26c7dc;
  border-radius: 4em;
  text-align: center;
  position: relative;
  margin: 0 auto 1em;
  background-image: url('../../../assets/imagenes/registro/cMaraAzul.png');
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: 50% 15%
}
.imagenForm .texto {
  display: block;
  font-size: 1em;
  padding: 0 .5em;
  color: #26c7dc;
  margin-top: 75px;
}
input[type="file"] {
  height: 10em;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
.formReg{
  margin-top: 2.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input{
  width: 85vw;
  padding: 1em 0;
  font-family: Montserrat-Regular;
  font-size: 1.2em;
  border: 0;
  border-bottom: 2px solid #C4C4C4;
  color: #C4C4C4;
  margin-bottom: 1em;
}
.buttonRegistrar{
  width: 80vw;
  background-color: #26c7dc;
  color: #FFFFFF;
  font-size: 1.2em;
  padding: .7em;
  border-radius: 8px;
  margin-top: 2em;
}
.buttonRegistrar:disabled {
  background-color: #cccccc;
}
