<div>
    <a class="close-button" routerLink="/home">
        <img src="assets/imagenes/confirmacion-alergias/close.png">
    </a>
    <h1 class="main-title">Confirma tu selección.</h1>
    <p class="main-paragraph">A continuación te resumimos los alimentos registrados como peligrosos para ti.</p>
    <p class="suggestion-paragraph">Marca para deseleccionar o añadir uno nuevo.</p>
    <div class="allergies-container">
        <button *ngFor="let allergie of allergies" class="allergie">{{allergie}}</button>
    </div>
    <button routerLink="/alergias" class="add-allergies">Añadir nuevos</button>
    <button routerLink="/fin" class="accept-button" (click)="saveAllergies()">Confirmar</button>
</div>
