.close-button {
    float: right;
    margin-top: 56px;
    margin-right: 24px;
    margin-bottom: 20px;
}

.main-title {
    width: 298px;
    height: 25px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 60px;
    color: rgb(7, 15, 21);
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

.main-paragraph {
    width: 321px;
    height: 75px;
    text-align: center;
    color: rgb(89, 95, 101);
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.8px;
    margin-bottom: 67px;
    padding-left: 10px;
    padding-right: 10px;
}

.suggestion-paragraph {
    width: 204px;
    height: 36px;
    margin-left: 28px;
    font-size: 14px;
    color: rgb(89, 95, 101);
    font-weight: 500;
}

.allergies-container {
    margin-left: 28px;
    margin-bottom: 9px;
}

.allergie {
    color: rgb(255, 255, 255);
    background-color: rgb(248, 73, 113);
    border: 1px solid rgb(248, 73, 113);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.32px;
    border-radius: 20px;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 12px 20px;
}

.add-allergies {
    color: rgb(168, 168, 168);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(168, 168, 168);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.32px;
    border-radius: 20px;
    margin-bottom: 100px;
    margin-left: 28px;
    padding: 12px 20px;
}

.accept-button {
    width: 325px;
    height: 50px;
    border-color: rgb(38, 199, 220);
    border-radius: 8px;
    background-color: rgb(38, 199, 220);
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
}