.barra_superior {
    display: flex;
    justify-content: space-between;
    margin-top: 1.3em;
    margin-left: 1em;
    margin-right: 1.3em;
}

.desplegable {
    border: none;
    background-color: #FAFAFA;
}

mat-sidenav-container {
    height: 812px;
}

mat-sidenav {
    width: 239px;
    height: 432px;
    box-shadow: 1px 1px 6px rgb(16, 177, 213);
}

.elemento {
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-bottom: 10px;
}

.close-icon {
    float: right;
    margin: 16px 16px 0 0;
}

/*
Grecia, por debajo de este comentario encontrarás todo tu código CSS original del componente. He comentado el "main content" porque me daba error con la barra lateral
*/

/*
.main-content {
    position: absolute;
}
*/

.logo {
    display: block;
    margin: 50px auto;
}

.main-home-button {
    padding: 0;
    border: none;
    width: 325px;
    height: 56px;
    border-radius: 8px;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    font-weight: bold;
}

.button-img {
    padding-right: 20px;
}

.button-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-paragrapgh {
    color: rgb(118,118,118);
    text-align: center;
    position: relative;
    top: -11px;
}

.img-menu-item {
    padding-left: 7px;
}

.text-menu-item {
    margin-left: 16px;
}

.margin {
    margin-left: 21px;
}

.menu-container {
    margin-top: 60px;
}

.scanner-button {
    background-color: rgb(38, 199,220);
}

.search-button {
    background-color: rgb(196, 196,196);
}

.sos-button {
    background-color: rgb(248, 73,113);
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 16px;
    width: 100%;
}

.item-bottom-nav {
}