<div>
  <div class="divVolver">
    <a routerLink="/registro" class="volver">
      <img class="back-arrow" src="assets/imagenes/navegacion/arrow-left.svg" alt="Volver">
      <span class="back-text">Volver</span>
    </a>
    <span class="paginacion">3 de 4</span>
  </div>

  <h1>Vamos a añadir tu contacto en caso de emergencia.</h1>
  <p>Nos pondremos en contacto con tu persona de confianza y/o compañia de seguros en caso de emergencia</p>
  <form  #formEmergencia="ngForm" class="formReg" (submit)="onSubmit(formEmergencia)">

    <input type="text" placeholder="Nombre completo de tu contacto" class="input" required name="nombre" #nombre="ngModel" [(ngModel)]="personaEmergencia.nombre" (blur)="alPerderFoco()" ngModel pattern="[a-zA-Z ]*"/>

    <input type="email" placeholder="Direccion email" class="input" name="email" [(ngModel)]="personaEmergencia.email" required/>

    <input type="text" placeholder="Movil" class="input" name="movil" name="movil" [(ngModel)]="personaEmergencia.movil" required />

    <input type="text" placeholder="Compañia de seguros/Nº Póliza" class="input" name="seguro" [(ngModel)]="personaEmergencia.compania" required/>


   <input routerLink="/alergias" type="submit" value="Guardar emergencias" class="buttonRegistrar" [disabled]="!formEmergencia.valid"/>
  </form>
  <p class="saltaContacto">Registraré mi contacto en otro momento</p>
</div>
