.divVolver{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1em;
}

.volver{
  font-family: 'Montserrat';
  font-size: .9em;
  color: rgb(38, 199, 220);
  text-decoration: none;
  margin: 1em 0;
}

.volver:hover {
  cursor: pointer;
}

.back-arrow {
  font-weight: lighter;
  vertical-align: middle;
  color: rgb(38, 199, 220);
}

.back-text {
  display: inline-block;
  vertical-align: middle;
}

.paginacion{
  font-family: 'Montserrat';
  font-size: .8em;
  font-weight: 700;
  margin-left: 6em;
}

.iconHome{
  width: 1em;
  height: 1em;
}

h1{
  font-family: 'Montserrat';
  text-align: center;
  margin-bottom: .8em;
}

p{
  font-family: 'Montserrat';
  text-align: center;
  font-size: 15pt;
  width: 75vw;
  margin: auto;
  color: #595f65;
}

.formReg{
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input{
  width: 80vw;
  padding: 1em 0;
  font-family: Montserrat-Regular;
  font-size: 1.1em;
  border: 0;
  border-bottom: 2px solid #C4C4C4;
  color: #C4C4C4;
  margin-bottom: .8em;
}

.buttonRegistrar{
  width: 80vw;
  background-color: #26c7dc;
  color: #FFFFFF;
  font-size: 1.2em;
  padding: .7em;
  border-radius: 8px;
  margin-top: 1.6em;
}

.buttonRegistrar:disabled {
  background-color: #cccccc;

}
a{
  text-decoration: none;

}
.saltaContacto{
  color: #26c7dc;
  font-size: 12pt;
  margin-top: 15pt;
}
