.divClose{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1em;

}
.iconClose{
  width: 1.3em;
  height: 1.3em;
  margin: 1em 0;
}
.title{
  display: flex;
  justify-content: center;
  font-family: 'Montserrat';
  font-size: 21pt;
  font-weight: 700x;
  margin-top: 8pt;
}
.slide-container{
  margin-top: 70pt;
  display: flex;
  flex-direction: column;


}

.slide-desc{
  width: 200pt;
  margin: 0 auto;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 13pt;
  color: #595f6540;
  line-height: 24pt;
  padding: 0;
}
/* .
spanParrafo{
  padding: 0;
  margin: 0;
  font-weight: 700;
  color: #595f6580;
}
*/
.slide-image{
  width: 150pt;
  justify-content: center;
  margin: 37pt auto 0 auto;
}
.divBolas{
  margin: 2em auto 0 auto;
  width: 60vw;
  display:flex;
  flex-direction: row;
  justify-content: space-between;


}
.bolaColor-1{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 45pt;
  height: 45pt;
  background-color: gray;
  border-radius: 50%;
}
.bolaColor-2{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 45pt;
  height: 45pt;
  background-color: #26c7dc;
  border-radius: 50%;
}
.bolaColor-3{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 45pt;
  height: 45pt;
  background-color: gray;
  border-radius: 50%;
}

