.cont{
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.lado{
    margin-left: 25px;
    
}
.ladocentro{
    justify-content: center;
    justify-items: center;
    margin-left: 70px;
    margin-top: 10px;
}
.lado2{
    justify-content: center;
    justify-items: center;
    margin-left: 100px;
    margin-top: 10px;
}
.centro{
   margin-top: 45px;
   margin-left: 60px;
}

.cont1{
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lado3{
    justify-content: center;
    justify-items: center;
    margin-left: 140px;
    margin-top: 45px;
    color: black;
}
.centro2{
    justify-content: center;
    justify-items: center;
    margin-top: 45px;
    margin-left: 130px;
 }
 .centro3{
    justify-content: center;
    justify-items: center;
    margin-top: 45px;
    margin-left: 10px;
 }
 .escaneobutton{
     background-color: #26c7dc;
     width: 100%;
     height: 60px;
     border-radius: 10px;
     border-style: none;
   
   
 }
 .otro{
    color: white;
 }
 
 p{
     background-color: #cccccc60;
     
 }

.noesapto{
    margin-top: 45px;
    margin-left: 45px;
    
}
.volver{
    color: #26c7dc;
    background-color: white;
    border-style: none;
    
}
 
