<!--PRIMERA VISTA-->
<div *ngIf = "vistaApto == 1">
    <div> <!--Aqui esta la imagen de cabecera-->
        <img src="../../../assets/imagenes/resultado-escaner/cabeceraConLogo.png" alt="">
    </div>

    <div class="cont">
        <div class=" col-xs-3">
            <!--aqui esta  la opcion volver-->
            <div >
                <button class="volver" [routerLink]='["/escaner"]'> 
                    <img src="../../../assets/imagenes/resultado-escaner/volver.png" alt=""> </button> 
            </div>    
        </div> 
                <div class="col-xs-3"> 
                    <!--Aqui estara el boton de  cerrar-->
                    <div >
                        <button class="volver" [routerLink]='["/home"]'> 
                            <img class="lado" src="../../../assets/imagenes/resultado-escaner/close.png" alt=""> 
                        </button> 
                    </div>    
                </div>
    </div>

    <div class="lado2">
        <img src="../../../assets/imagenes/resultado-escaner/aquiTienesElResul.png" alt="">
        
    </div>

    <div class="centro">
        <img src="../../../assets/imagenes/resultado-escaner/esteProductoEsApt.png" alt="">
    </div>    

    <!-- AQUI ESTA AGREGADO el Cuadro verde-->
    <div class="cont1">
        <div class=" col-xs-3 ">
            <img class="ladocentro" src="../../../assets/imagenes/resultado-escaner/cuadro.png" alt="">
        </div>  
        <div class=" col-xs-3">
            <img src="../../../assets/imagenes/resultado-escaner/favorito.png" alt="">
            <img src="../../../assets/imagenes/resultado-escaner/diario.png" alt="">
            <img src="../../../assets/imagenes/resultado-escaner/red.png" alt="">
        </div>

    </div>  

    <div class="lado3">
         <h3>{{producto.nombre}}</h3>    
    </div>

    
    <div class="centro2">
        <h4> ingredientes</h4>        
    </div>
    
    <div class="centro3">
        <p>{{producto.ingredientes}}</p>
    </div>
    
    <div class="centro3">
                <!-- AQUI SE DECLARA LA RUTA QUE LO DEVOLVERA A LA RUTA QUE HA SIDO CREADA POR PACO-->
        <button class="escaneobutton" [routerLink]='["/escaner"]'><h2 class="otro"> Escanea otro producto </h2></button> 
    </div>
</div>





<!-- se termina la primera vista y nos pasamos a la siguiente(vista 2)-->


    <!--Vista (2) DE NO ES APTO EL PRODUCTO -->
<div *ngIf = "vistaApto == 2">
    <div> <!--Aqui esta la imagen de cabecera-->
        <img src="../../../assets/imagenes/resultado-escaner/cabeceraConLogo.png" alt="">
    </div>

    <div class="cont">
        <div class=" col-xs-3">
               <!--aqui esta  la opcion volver-->
            <div >
                <button class="volver" [routerLink]='["/escaner"]'> 
                    <img src="../../../assets/imagenes/resultado-escaner/volver.png" alt=""> 
                </button> 
            </div>    
        </div> 

                <div class="col-xs-3"> 
                       <!--Aqui estara el boton de  cerrar-->
                    <div >
                        <button class="volver" [routerLink]='["/home"]'> 
                            <img class="lado" src="../../../assets/imagenes/resultado-escaner/close.png" alt=""> 
                        </button> 
                    </div>    
              
                </div>
    </div>

    <div class="lado2">
        <img src="../../../assets/imagenes/resultado-escaner/aquiTienesElResul.png" alt="">
        
    </div>
        <!--AQUI se agrega el mensaje este producto no es apto-->
    <div class="centro">
        <img src="../../../assets/imagenes/resultado-escaner/esteProductoNoEs.png" alt="">
    </div>    

    <!-- AQUI ESTA AGREGADO LA LATA DE vino Y LOS ICONOS QUE ESTAN AL LADO-->
    <div class="cont1">
        <div class=" col-xs-3 ">
            <img class="ladocentro" src="../../../assets/imagenes/resultado-escaner/combinedShapeCopy.png" alt="">
        </div>  
        <div class=" col-xs-3">
            <img src="../../../assets/imagenes/resultado-escaner/favorito.png" alt="">
            <img src="../../../assets/imagenes/resultado-escaner/diario.png" alt="">
            <img src="../../../assets/imagenes/resultado-escaner/red.png" alt="">
        </div>

    </div>  

    <div class="lado3">
         <h3>{{producto.nombre}}</h3>    
    </div>
      
          <div class="centro2">
              <h4> ingredientes</h4>        
          </div>
          
          <div class="centro3">
              <p>{{producto.ingredientes}}</p>
          </div>
          
          <div class="centro3">
                      <!-- AQUI SE DECLARA LA RUTA QUE LO DEVOLVERA A LA RUTA QUE HA SIDO CREADA POR PACO-->
            <button class="escaneobutton" [routerLink]='["/escaner"]'><h2 class="otro"> Escanea otro producto </h2></button>       
          </div>
</div>




<!-- Se termina la segunda vista y nos pasamos a la siguiente(vista 3)-->


   <!--Vista (3) NO HAY datos suficientes del  PRODUCTO-->
<div *ngIf = "vistaApto == 3">
   <div> <!--Aqui esta la imagen de cabecera-->
    <img src="../../../assets/imagenes/resultado-escaner/cabeceraConLogo.png" alt="">
</div>

<div class="cont">

        <div class=" col-xs-3">
            <div>
                <button class="volver" [routerLink]='["/escaner"]'> 
                    <img src="../../../assets/imagenes/resultado-escaner/volver.png" alt=""> 
                </button> 
            </div>    
        </div> 
                <div class="col-xs-3"> 
                    <!--Aqui esta el boton de  cerrar-->
                    <div >
                        <button class="volver" [routerLink]='["/home"]'> 
                            <img class="lado" src="../../../assets/imagenes/resultado-escaner/close.png" alt=""> 
                        </button> 
                    </div>    
                </div>
</div>

<div class="lado2">
    <img src="../../../assets/imagenes/resultado-escaner/aquiTienesElResul.png" alt=""> 
</div>

<div >
    <img class="noesapto" src="../../../assets/imagenes/resultado-escaner/loSentimosNoHay.png" alt="">
    
</div>    


<!-- AQUI ESTA AGREGADO el cuadro de la ultima vista -->
<div class="cont1">
    <div class=" col-xs-3 ">
         <img class="ladocentro" src="../../../assets/imagenes/resultado-escaner/combinedShapeCopy2.png" alt="">
    </div>  
        <div class=" col-xs-3">
            <img src="../../../assets/imagenes/resultado-escaner/favorito.png" alt="">
            <img src="../../../assets/imagenes/resultado-escaner/diario.png" alt="">
            <img src="../../../assets/imagenes/resultado-escaner/red.png" alt="">
        </div>

</div>  

<div class="lado3">
    <h3>ingredientes</h3>    
</div>
  
      <div class="centro2">
          <h4>No disponemos de datos sobre este producto</h4>        
      </div>
      
      <div class="centro3">
          <p>{{producto.ingredientes}}</p>
      </div>
      
      <div class="centro3">
                  <!-- AQUI SE DECLARA LA RUTA QUE LO DEVOLVERA A LA RUTA QUE HA SIDO CREADA POR PACO-->
      <button class="escaneobutton" [routerLink]='["/escaner"]'><h2 class="otro"> Escanea otro producto </h2></button> 
             
      </div>
</div>      
