<div id="main-container" class="main-container">
    <div class="back-option">
        <a routerLink="/registro" class="volver">
            <img class="back-arrow" src="assets/imagenes/navegacion/arrow-left.svg" alt="Volver">
            <span class="back-text">Volver</span>
        </a>
        <span class="steps">3 de 4</span>
    </div>

    <h1 class="main-title">Ahora selecciona tus alergias e intolerancias.</h1>
    <p class="main-paragraph">Los elementos marcados serán identificados en tus busquedas como peligrosos para ti.</p>
    <div class="row alphabet">
        <div *ngFor="let letter of allergyLetters" class="col-xs-3 alphabet-letter">
            <div [ngClass]="getLetterClass(letter)" class="letter-link">
                <a href="/alergias{{'#'+letter}}">{{ letter }}</a>
            </div>
        </div>
        <p class="panel-text">Acceso rápido.</p>
    </div>
    <div>
        <div *ngFor="let letter of allergyLetters;" class="list-container">
            <div class="list-header">
                <div [ngClass]="getLetterClass(letter)" id={{letter}} class="index-letter">{{letter}}</div>
                <a href="/alergias#main-container" class="arrow">
                    <img src="assets/imagenes/seleccion-alergias/arrowUp.png">
                </a>
            </div>
            <div *ngIf="foodObjects[letter] | async as foods" class="allergies-container">
                <button *ngFor="let food of foods" [ngClass]="getFoodClass(letter, food.nombre)" (click)="toggleAllergyStatus(letter, food.nombre)"
                class="allergies-button" id={{food.nombre}}>{{ food.nombre }}</button>
            </div>
        </div>
    </div>
    <div class="button-container">
        <button class="accept-button" (click)="goToConfirmAllergies()">Guardar</button>
    </div>
</div>