.intro {
    min-height: 812px;
}

.intro-logo {
    display: block;
    margin: 0 auto;
    padding-top: 97px;
    padding-bottom: 80px;
}

.slide-container .slide-image {
    display: block;
    margin: 0 auto;
}

.slide-container .slide-desc {
    width: 245px;
    height: 80px;
    display: block;
    margin: 0 auto;
    white-space: pre-line;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    color: rgb(7, 15, 21);
    padding-top: 40px;
    padding-bottom: 62px;
}
.dots-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 80px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(89, 95, 101, 0.5);
}

.active {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(38, 199, 220);
}

.navigation {
    margin-top: 91px;
    width: 100%;
}

.skip {
    float: left;
    margin-left: 32px;
    text-decoration: none;
    color: rgb(118, 118, 118);
}

.link-next {
    float: right;
    margin-right: 32px;
    text-decoration: none;
    color: rgb(118, 118, 118);
}

.link-text {
    vertical-align: middle;
    margin-right: 5px;
}

.link-img {
    vertical-align: middle;
}
