<div class="header">
    <img src="../../../assets/imagenes/login/image@2x.png" width="373px" height="248px">
  <div class="logo">
    <img src="../../../assets/imagenes/login/logo.png" widht="80px" height="22px" > 
  </div>
</div>
  <h2 class="cabecera">¡Bienvenido de nuevo!</h2>
    <div class="texto">
      <p>Por favor, introduce tus datos para continuar.</p>
    </div>
    <form class="form" #formLogIn="ngForm" class="formReg" (submit)="logIn(formLogIn)">
      <div class="margen">
        <input type="email" class="campo" placeholder="Dirección e.mail" name="email" #email [(ngModel)]="usuarioLogin.email"><br>
      </div>
      <div class="margen">
        <input type="password" class="campo" placeholder="Password" name="password" #password [(ngModel)]="usuarioLogin.password"><br>
      </div>
      <div class="secBotones">
        <a [routerLink]='["/contraseña_olvidada"]' class="enlace_1" style="text-decoration:none" >¿Olvidaste tu contraseña?</a><br>
        <div class="div-boton">
          <input class="boton" type="submit" name="Entrar" value="Entrar"/>
        </div>
        <p class="href_1">¿nuevo en Applergic?</p>
        <div class="href">
          <a [routerLink]='["/registro"]' class="enlace_2" style="text-decoration:none">Crea tu cuenta aquí</a><br>
        </div>
        <div class="href_2">
          <a [routerLink]='["/home"]' class="enlace_3" style="text-decoration:none">Me registraré en otro momento</a><br>
        </div>
      </div>
    </form>
  