.divVolver{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}
.volver{
  font-size: .9em;
  color: rgb(38, 199, 220);
  text-decoration: none;
  margin: 1em 0;
}
.paginacion{
  font-size: .8em;
  margin-right: 1.5em;
  font-weight: 700;
}

.volver:hover {
  cursor: pointer;
}

.back-arrow {
  font-weight: lighter;
  vertical-align: middle;
  color: rgb(38, 199, 220);
}

.back-text {
  display: inline-block;
  vertical-align: middle;
}

.iconClose{
  width: 1.3em;
  height: 1.3em;
}
.ok{
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.divTitulo{
  display: flex;
  justify-content: center;
}
h1{
  width: 80vw;
  text-align: center;
  font-size: 1.6em;
  margin-top: 1.5em;
}
.botonEscaneo{
  margin-top: 4em;
  display: flex;
  justify-content: center;
}

input{
  width: 80vw;
  background-color: #26c7dc;
  color: #FFFFFF;
  font-size: 1.2em;
  padding: .7em;
  border-radius: 8px;
  margin-top: 2em;
}
