<div class="contenedor">
  <div class="divClose">
    <a routerLink="/home" class="volver"><img src="assets/imagenes/fin-registro/close.png" alt="close" class="iconClose"></a>
  </div>
  <div class="title">
    <span>Escaneando...</span>
  </div>

  <div class="divParrafo">
    <p class="parrafo">Tan solo tienes que centrar el <span class="spanParrafo"> código de barras</span> del producto en el recuadro</p>
  </div>

  <form #formEscaner="ngForm" (submit)="escanearProducto(formEscaner)">
    <div class="divInput" >
      <input type="text" placeholder="introduce el codigo" class="input" name="codigoBarras" #codigoBarras="ngModel" [(ngModel)]="producto.codigoBarras">
      <input type="submit" class="submit" value="Escanear">
    </div>
  </form>

  <div class="divBolas">
    <div class="bolaColor-1">
      <img src="assets/imagenes/escaneo/barcode2.png" alt="codigo" class="barCode">
    </div>
    <a routerLink="/lectores" >
      <div class="bolaColor-2">
        <img src="assets/imagenes/escaneo/qr_black.png" alt="codigo" class="barCode">
      </div>
    </a>
    <a routerLink="/escaner" >
      <div class="bolaColor-3">
        <img src="assets/imagenes/escaneo/nfc_black.png" alt="codigo" class="barCode">
      </div>
    </a>
  </div>
</div>
