body{
  height: 100vh;
}
.divClose{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1em;

}
.iconClose{
  width: 1.3em;
  height: 1.3em;
  margin: 1em 0;
}
.title{
  display: flex;
  justify-content: center;
  font-size: 21pt;
  font-weight: 700x;
  margin-top: 8pt;
}
.divParrafo{

  display: flex;
  margin: 0 auto;
  width: 80vw;
  margin-top: 60pt;

}
.parrafo{
  text-align: center;
  font-size: 16pt;
  color: #595f6540;
  line-height: 24pt;
  padding: 0;
}
.spanParrafo{
  padding: 0;
  margin: 0;
  font-weight: 700;
  color: #595f6580;
}
.divInput{
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}
.input{
  justify-content: center;
  width: 60vw;
  height: 2.5em;
  margin: 0 auto;
  border-radius: 10px;
}
.submit{
  display: block;
  margin: 1em auto 0 auto;
  width: 80px;
  background-color: #26c7dc;
  color: #ffffff;
  border-radius: 5px;
}

.divBolas{
  margin: 9.3em auto 0 auto;
  width: 60vw;
  display:flex;
  flex-direction: row;
  justify-content: space-between;



}
.bolaColor-1{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 45pt;
  height: 45pt;
  background-color: #26c7dc;
  border-radius: 50%;
}
.bolaColor-2{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 45pt;
  height: 45pt;
  background-color: gray;
  border-radius: 50%;
}
.bolaColor-3{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 45pt;
  height: 45pt;
  background-color: gray;
  border-radius: 50%;
}
