<div>
  <div class="divVolver">
    <a routerLink="/home" class="volver">
      <img class="back-arrow" src="assets/imagenes/navegacion/arrow-left.svg" alt="Volver">
      <span class="back-text">Volver</span>
    </a>
  </div>
  <div class="logo">
    <img src="assets/imagenes/despedida/logoApplergicFigurasGiro.png" alt="logo">
  </div>

  <h1 class="titulo">¡Gracias por usar Applergic!</h1>
  <div class="divSubtitutlo">
    <h2 class="subTitulo">Por favor, evalua tu experiencia</h2>
  </div>
  <!--<star-rating [starType]="'assets/imagenes/despedida/star-rating.icons.svg'" [rating]=""></star-rating>-->
  <div class="stars">
    <fieldset class="rating">
      <input type="radio" [name]="inputName" value="5" [checked]="rating===5" />
      <label title="Rocks!" (click)='onClick(5)'>5 stars</label>

      <input type="radio" [name]="inputName" value="4" [checked]="rating===4" />
      <label title="Pretty good" (click)='onClick(4)'>4 stars</label>

      <input type="radio" [name]="inputName" value="3" [checked]="rating===3" />
      <label title="Meh" (click)='onClick(3)'>3 stars</label>

      <input type="radio" [name]="inputName" value="2" [checked]="rating===2" />
      <label title="Kinda bad" (click)='onClick(2)'>2 stars</label>

      <input type="radio" [name]="inputName" value="1" [checked]="rating===1" />
      <label title="Sucks big time" (click)='onClick(1)'>1 star</label>
    </fieldset>
  </div>
  <div class="enviar-valoracion">
    <a routerLink="/home" class="valoracion">Enviar valoración</a>
  </div>
</div>